<p>Who: <%= @game.who.text %></p>
<p>With whom: <%= @game.who.text %></p>
<p>Doing what: <%= @game.who.text %></p>
<p>Where: <%= @game.who.text %></p>
<p>When: <%= @game.who.text %></p>
<p>Who saw: <%= @game.who.text %></p>

Who, with who, doing what, where, when, who see it